section {
	margin: 1rem auto;
	width: 90%;
	max-width: 40rem;
	text-align: center;
	background-color: white;
	padding: 1.6rem;
	border-radius: 8px;
}

button {
	font: inherit;
	cursor: pointer;
	background: rgb(103, 88, 241);
	border: 1px solid rgb(103, 88, 241);
	color: white;
	padding: 0.75rem 2rem;
	border-radius: 20px;
}

button:focus {
	outline: none;
}

button:hover,
button:active {
	background-color: #220af5;
	border-color: 220af5;
}
